* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: antiquewhite;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	height: 100vh;
}

.box {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
	padding: 20px;
	background-color: #f1f1f1;
	transition: background-color 0.5s ease;
}

.box:hover {
	background-color: #ccc;
}

.box h2 {
	margin-top: 0;
}

.box img {
	max-width: 100%;
	height: auto;
}

.bio{
	flex-basis: calc(33.33% - 20px);
	height: calc(100% / 3);
    background-color:rgb(165, 164, 164);
} 
.photo{
	flex-basis: calc(33.33% - 20px);
	height: calc(100% / 3);
	background-color: rgb(35, 13, 236);	
} 
.education{
	flex-basis: calc(33.33% - 20px);
	height: calc(100% / 3);
	background-color:rgb(137, 137, 165);
}
 .hobbies{
	flex-basis: calc(33.33% - 20px);
	height: calc(100% / 3);
	background-color: rgb(129, 129, 214);
 } 
 .contact {
	flex-basis: calc(33.33% - 20px);
	height: calc(100% / 3);
	background-color: rgb(214, 133, 133);
}

.empty {
	flex-basis: calc(33.33% - 20px);
	height: 0;
}
.empty:first-child,
.empty:nth-child(3),
.empty:nth-child(7),
.empty:last-child {
	display: none;
}










































